<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Số Dư Trong Tài Khoản</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Bảng Thống Kê Tài Khoản</strong>
            </th>
            <th>
              <strong>Số lượng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Số Dư</strong>
              </td>
              <td>
                <strong>{{sodu}} vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Nợ Chưa Trả</strong>
              </td>
              <td>
                <strong>0 vnđ</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>