<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="detail-covider-header">
    <h1>Chức Năng Nạp Tiền Ảo Vào Tài Khoản Ảo</h1>
    <a
      class="btn btn-primary button detail-covider-back"
      href="/"
      role="button"
    >Go back</a>
  </div>
  <div>
    <form class="add-covider" method="POST" action="">
      <div class="form-group">
        <label for="formGroupExampleInput">ID tài khoản</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="1"
          name="id"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Số Tiền Cần Nạp</label>
        <input
          type="number"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="10000000 vnd"
          name="sotiennap"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Nạp
        </button>
      </div>
    </form>
  </div>
</div>